{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if activity_info %} 
    <div class="col-4">
        <div class="card">
            <img src="/static/images/activity.jpeg" alt="Thinking cartoon" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Your Activity</h5>
                <p class="card-text">{{activity_info['activity']}}</p>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="card">
            <img src="/static/images/type.jpeg" alt="Thinking cartoon" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Activity Type</h5>
                <p class="card-text">{{activity_info['type']}}</p>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="card">
            <img src="/static/images/price.jpeg" alt="Price cartoon" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Activity Price</h5>
                <p class="card-text">{{activity_info['price']}}</p>
            </div>
        </div>
    </div>
    <!-- <a href="/activity_videos"><button class="btn btn-primary btn-block btn-lg">Inspire Me!</button></a> -->
    {% endif %}
</div>
<br><br>
<section class="row">
    <div>
    <h2>{{video1_title}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video1_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>
    <div>
    <h2>{{video2_title}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video2_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>

    <div>
    <h2>{{video3_title}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video3_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>

    <div>
    <h2>{{video4_title}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video4_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>

    <div>
    <h2>{{video5_title}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video5_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>


{% endblock %}